/* CSS Document */
@import 'https://fonts.googleapis.com/css?family=Raleway';
*{
margin:0px;	
	}
body
{
	padding-top:80px;
    margin: 0px;
}
#headerlogo{
		height:50px;
		width:auto;
	}
.salutation,  .quote
{
	display:flex;
	flex-wrap:wrap;
	color:#EA4335;	
	font-family:raleway;
}
.quote{
	padding:5%;
	font-size:26px;
	justify-content:space-around;
	}
#logo{
	height:200px;
	width:auto;	
	}
		#logo{
		height:200px;
		width:auto;	
		}
		#logobtn{
			padding:1%;
			border-radius:50%;
			height:60px;
			width:60px;
			border-width:0px;
			}
.navbar{
	padding:20px;
	margin-bottom:0px;	
	box-shadow:0px 4px 10px grey;
	}
.salutation{
	flex-direction:column;
	background-color:#F5D177;
	background-size:100%;
	color:#EA4335;
	min-height:250px;
	font-family:raleway;
	padding:4%;
	font-weight:bold;
	}
#stattable{
		background-color:#EA4335;
		min-height:200px;
		color:#F5D177;
		padding:4%;
		font-family:raleway;
		}
.srow{
	padding:2%;
	border:solid 1px #Fcc;
	}
	.para{
		color:#EA4335;
		font-family:raleway;
		padding:5%;	
		font-size:18px;
		padding-bottom:10%;
		}
		
footer
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
    background: #152935;
	color:#EA4335;
}
div.container {
	font-family: Raleway;
	padding: 15px;
	margin: 0 auto;
	text-align: center;
}
div.container a {
	text-decoration: none;
	font: 20px Raleway;
	margin: 5px 10px;
	padding: 10px 10px;
	position: relative;
	z-index: 0;
	cursor: pointer;
}
/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 2px;
	color: white;
	background: #ea4335;
	content: "";
	opacity: 0;
	transition: all 0.3s;
}
div.topBotomBordersOut a:before {
	top: 0px;
	transform: translateY(10px);
}
div.topBotomBordersOut a:after {
	bottom: 0px;
	transform: translateY(-10px);
}
div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after {
	opacity: 1;
	transform: translateY(0px);
}

@media screen and (max-width: 768px) and (min-width: 480px)  {
	body{
		}
	#headerlogo{
		display:none;
	}
}
@media screen and (max-width: 480px) {
body{
	padding-top:100px;
		}
#headerlogo{
		height:32px;
		width:auto;
	}
	.section1,.section2,.section3{
	background-attachment:none;
	padding-bottom:40px;
	background-size:cover;	
	max-height:auto;
	}
	#brandname{
	font-size:4em;
	}
	#tagline{
		font-size:2em;
	}
	#collapser{
		margin:0px;	
		}
		.navbar-toggle{
		padding:0px;	
			}
}

